<section id="header">
  <div class="header-info">
    <h1 class="header-text">Test and Deploy with Confidence!</h1>
    <h3 class="header-description">Easily sync your GitHub projects with Jack CI and you’ll be testing your code in minutes!</h3>
  </div>
</section>
