.o-auth {
  color: $white;
  height: 40px;
}

.o-auth:hover {
  .fa {
    color: $base-green;
  }

  .button-text {
    color: $base-green;
  }
}

.fa {
  color: $white;
  font-size: 18px;
}

.fa::before {
  padding-right: 3px;
}

.button-text {
  color: $white;
  display: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.navbar-right > li > a {
  padding-bottom: 0;
  padding-top: 12px;
}
