.o-auth {
  color: white;
  height: 40px;
}

.fa {
  color: white;
}

.fa:hover {
  color: #5bc85c;
}

.button-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: white;
  display: inherit;
}

.button-text:hover {
  color: #5bc85c;
}
